<button (click)="toggleEditMode()">
  {{ editMode ? "Read Mode" : "Edit Mode" }}
</button>
<section
  *ngIf="course$ | async as course"
  class="double-column"
  [ngClass]="{ editable: editMode }"
>
  <aside [ngClass]="{ open: isTabletMenuOpen }">
    <button class="tabletAndDown" (click)="toggleTabletMenu()">
      {{ isTabletMenuOpen ? "close" : "open" }}
    </button>
    <div *ngIf="loading$ | async">loading...</div>
    <app-edit-navigation
      *ngIf="editMode; else viewNavigation"
      [courseName]="course.name"
      [pages]="(pages$ | async)!"
    ></app-edit-navigation>
    <ng-template #viewNavigation>
      <app-view-navigation
        [courseName]="course.name"
        [pages]="(pages$ | async)!"
      ></app-view-navigation>
    </ng-template>
  </aside>
  <section *ngIf="page$ | async as page">
    <main>
      <app-edit-content
        *ngIf="editMode; else viewContent"
        [page]="page"
        (pageUpdated)="pageUpdated($event)"
      ></app-edit-content>
      <ng-template #viewContent>
        <app-view-content [page]="page"></app-view-content>
      </ng-template>
    </main>
    <footer>
      <div></div>
      <app-next-page
        [pages]="(pages$ | async)!"
        [currentPage]="page"
      ></app-next-page>
    </footer>
  </section>
</section>
