.double-column {
  position: relative;
  display: flex;

  padding: 1rem;
}

aside {
  color: var(--colour-text-invert);
  background-color: var(--colour-text-background-invert);
  flex-basis: 16rem;
  padding-right: 0.25rem;
}

section {
  flex: 1;
}

main {
  background-color: var(--colour-text-background);

  border-radius: 1.5rem;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

// Laptop styles
@media (max-width: 81.25rem) {
}

// Tablet styles
@media (max-width: 59.375rem) {
  main {
    margin-left: 4rem;
  }

  aside {
    position: absolute;
    height: 100%;

    ol {
      display: none;
    }

    &.open {
      width: 19rem;

      ol {
        display: inherit;
      }
    }
  }
}

// Mobile styles
@media (max-width: 37.5rem) {
}
