<button (click)="toggleEditMode()">
  {{ editMode ? "Read Mode" : "Edit Mode" }}
</button>
<section
  *ngIf="course$ | async as course"
  class="double-column"
  [ngClass]="{ editable: editMode }"
>
  <aside [ngClass]="{ open: isTabletMenuOpen }">
    <button class="tabletAndDown" (click)="toggleTabletMenu()">
      {{ isTabletMenuOpen ? "close" : "open" }}
    </button>
    <div *ngIf="loading$ | async">loading...</div>
    <nav>
      <ol>
        <li>
          <h5>{{ course.name }}</h5>
        </li>
        <li *ngFor="let page of pages$ | async">
          <a
            routerLinkActive="active"
            [routerLink]="page.slug | slugToCourseLink"
            >{{ page.name }}</a
          >
        </li>
      </ol>
    </nav>
  </aside>
  <section *ngIf="page$ | async as page">
    <main>
      <app-edit-content
        *ngIf="editMode; else viewMode"
        [page]="page"
        (pageUpdated)="pageUpdated($event)"
      ></app-edit-content>
      <ng-template #viewMode>
        <app-view-content [page]="page"></app-view-content>
      </ng-template>
    </main>
    <footer>
      <div></div>
      <a
        *ngIf="nextPage$ | async as nextPage; else backToSelection"
        [routerLink]="nextPage.slug | slugToCourseLink"
      >
        {{ nextPage.name }}
      </a>

      <ng-template #backToSelection>
        <a routerLink="/course-selection"> Find another course </a>
      </ng-template>
    </footer>
  </section>
</section>
